@font-face {
    font-family: Regular;
    src: url('../text-fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: light;
    src: url('../text-fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: bold;
    src: url('../text-fonts/Roboto-Bold.ttf');
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Regular";
}
.icon-nav{
    padding: 10px;
}
.icon-nav a img{
    height: 30px;
    width:auto;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}
.icon-nav a img:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.carousel .item{
    height:50vh;
    background-color: blueviolet;
}

.events{
    background-color: rgba(0,0,0,0.09);
    overflow: auto;
    margin: 20px 0;
}
.events h3{
    font-size:30px;
    color:#3c78aa;
    font-weight: bold;
    margin: 20px 0;
}
.events .list .item{
    overflow: auto;
}
.events .list .item .img{
    background-color: #fdd835;
    height:200px;
    width:200px;
    margin: 0 10px;
}
.events .list .item .desc{
    width:300px;
    height:auto;
    padding: 5px;
}
.events .list .item .desc h4{
    font-weight: bold;
    font-size: 20px;
}
.events .list .item .desc p{
    font-weight: nomal;
    font-size: 16px;
    color:rgba(0,0,0,0.7);
}
.events .list .item .desc span{
    font-weight: nomal;
    font-size: 16px;
    color:#fff;
    padding: 10px;
    margin: 10px 0;
    background-color: #fdd835;
}
.box-link{
    color:#000;
    background-color: #fdd835;
    margin: 10px auto;
    display: block;
    width:150px;
    font-weight: bold;
}

/* about section */
.about{
    border: 10px solid rgba(0,0,0,0.09);
    position: relative;
    margin: 5% auto;
    height: auto;
}
.about h3{
    font-size:30px;
    color:#3c78aa;
    font-weight: bold;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    display: block;
    width:300px;
    text-align:center;
    position: absolute;
    top:-50px;
    left:36%;
}
.about p{
    font-weight: nomal;
    font-size: 20px;
    color:rgba(0,0,0,0.7);
    padding: 10px;
    margin: 10px auto;
    width:60%;
}